In [1]:
import pyarrow.parquet as pq

In [2]:
pFile = pq.ParquetFile("./7c421ba5-cb2c-4133-8ecd-eeb26014b000.parquet")
train_features = pFile.read().to_pandas()

In [3]:
train_features

,feature9,feature8,feature10,feature7,feature4,feature13,feature5,feature12,feature15,feature16,feature11,feature1,feature6,feature14,feature3,feature2
0,-90.159405,41.309334,22.441033,43810.0,61554.0,8.0,42.745556,5.0,1.539047,73.525055,15.0,34,-86.811371,0.846116,1.70,10
1,-87.205917,31.873946,15.842294,214703.0,36108.0,8.0,32.452078,3.0,1.576245,68.448933,14.0,126,-85.718814,1.023401,7.10,7
2,-117.501725,33.752600,20.921839,103689.0,91331.0,8.0,33.495412,6.0,1.496249,78.643663,21.0,236,-120.507975,0.867013,95.59,7
3,-84.189655,34.273153,24.667567,NaN,NaN,4.0,31.111263,3.0,1.670315,NaN,7.0,220,-78.325037,NaN,57.95,2
4,-96.805311,NaN,25.622882,NaN,NaN,6.0,30.975305,4.0,1.850492,79.816528,15.0,248,-96.927191,1.180614,NaN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1912,-87.558521,40.847734,23.163368,32038.0,60517.0,5.0,39.099218,5.0,1.362177,67.860711,18.0,211,-89.301615,1.251865,2.99,8
1913,-113.085182,NaN,20.658051,NaN,85053.0,6.0,NaN,5.0,1.595309,77.549935,18.0,-1,-111.234778,0.664957,2.05,12
1914,-99.708932,31.720351,25.005613,124196.0,79602.0,4.0,31.943097,4.0,1.785241,73.572490,0.0,166,-98.656155,0.804645,60.29,2
1915,-77.380536,42.033637,22.038444,1404.0,14861.0,7.0,40.631352,5.0,1.328237,81.546185,19.0,-1,-71.190035,1.401330,3.44,1
1916,-79.058719,40.265393,21.492534,687276.0,15222.0,5.0,39.250910,5.0,1.407506,79.710119,4.0,291,-75.727932,1.016324,50.29,4

In [7]:
train_features.isna().sum()

feature9     27
feature8     40
feature10    33
feature7     30
feature4     37
feature13    23
feature5     42
feature12    32
feature15    34
feature16    22
feature11    27
feature1      0
feature6     26
feature14    32
feature3     28
feature2      0
dtype: int64